html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: sans-serif;
}

#login-zone {
  width: 20em;
  height: 12em;
  border: 1px solid #000;
  margin: 8em auto;
}

#login-zone .container {
  margin: 2.8em auto;
}

#login-zone input,
#login-zone button {
  display: block;
  border: 1px solid #000;
}

#login-zone input {
  margin: 0em auto 0.85em auto;
  width: 60%;
  padding: 0.25em;
}

#login-zone button {
  background-color: #000;
  color: #fff;
  width: 40%;
  padding: 0.25em;
  margin: 1.2em auto;
}

#login-errors {
  position: absolute;
  top: 1.5em;
  width: 20em;
  margin: 0 auto;
  color: #f00;
  font-style: oblique;
  text-align: center;
}

#call-zone {
  position: relative;
  width: 30em;
  height: 14em;
  margin: 8em auto;
}

#call-zone .container {
  width: 100%;
  margin: 2.8em auto;
}

#call-zone table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
}

#call-zone table {
  width: 100%;
}

#call-zone th, td {
  padding: 0.25em;
}
